* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #132c33;
}

.image {
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.news {
    margin-top: 80px;
    place-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 50px;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
    width: 17em;
    height: 22.5em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card1 span,
.card2 span,
.card3 span,
.card4 span,
.card5 span,
.card6 span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
}

.card1 .info,
.card2 .info,
.card3 .info,
.card4 .info,
.card5 .info,
.card6 .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
}

.card1 .img1,
.card2 .img2,
.card3 .img3,
.card4 .img4,
.card5 .img5,
.card6 .img6 {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
}

.card1 .share,
.card2 .share,
.card3 .share,
.card4 .share,
.card5 .share,
.card6 .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card1 a,
.card2 a,
.card3 a,
.card4 a,
.card5 a,
.card6 a {
    color: white;
    transition: .4s ease-in-out;
}

.card1 a:hover,
.card2 a:hover,
.card3 a:hover,
.card4 a:hover,
.card5 a:hover,
.card6 a:hover {
    color: red;
}

.card1 button,
.card2 button,
.card3 button,
.card4 button,
.card5 button,
.card6 button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.card1 button:hover,
.card2 button:hover,
.card3 button:hover,
.card4 button:hover,
.card5 button:hover,
.card6 button:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.card4,
.card5,
.card6 {
    margin-bottom: 80px;
}

.footer {
    background-image: url(../assets/images/footer-bg.jpg);
    width: 100%;
    height: 400px;
}

.footerContent {
    display: flex;
    gap: 150px;
}

.contactUs {
    color: white;
    margin: 70px 0 0 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pInContactUs {
    font-weight: bold;
    font-size: 25px;
}

.hrInContactUs {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.telephone,
.email,
.telegram1,
.telegram2 {
    display: flex;
    gap: 20px;
}

.telephone i,
.email i,
.telegram i,
.instagram i {
    width: 15px;
    height: 15px;
}

.socialMedia {
    color: white;
    margin: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pInSocialMedia {
    font-weight: bold;
    font-size: 25px;
}

.hrInSocialMedia {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.row1,
.row2 {
    display: flex;
}

.ic {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
}

.ic:hover {
    opacity: 0.7;
}

.ic-facebook {
    background: #3B5998;
    color: white;
}

.ic-twitter {
    background: #55ACEE;
    color: white;
}

.ic-linkedin {
    background: #007bb5;
    color: white;
}

.ic-youtube {
    background: #bb0000;
    color: white;
}

.ic-instagram {
    background: #125688;
    color: white;
}

.ic-pinterest {
    background: #cb2027;
    color: white;
}

.instagramFeed {
    margin-top: 70px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pInInstagramFeed {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.hrInInstagramFeed {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.imgInInstagramFeed {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8px;
}

.pInFooter {
    color: white;
    margin-left: 120px;
    margin-top: 60px;
}

.share a {
    text-decoration: none;
}

.button {
    font-family: inherit;
    left: 1085px;
    bottom: 30px;
    font-weight: 400;
    background: #f2295b;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.6em;
    padding-left: 3em;
    padding-right: 0.7em;
}

.button .icon {
    background: #fff;
    margin-right: 1em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.3em;
    transition: all .7s;
    cursor: pointer;
}

.shere {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 4px;
}

.button:hover .icon {
    width: calc(100% - 0.6rem);
}

.button:hover .shere {
    width: calc(100% - 0.6rem);
    display: none;
}

.button .icon-shere {
    color: #f2295b;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    margin-right: 5px;
}

.button:hover .icon .icon-shere {
    display: flex;
}