* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #132c33;
}

.image {
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.musicCur {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: 60px 0 80px 0;
    -webkit-box-reflect: below -3px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 130px;
    margin-bottom: 100px;
    gap: 30px;
}

.article-wrapper {
    width: 250px;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: white;
}

.article-wrapper:hover {
    -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
    border-color: #0578c5;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}

.article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
}

.rounded-lg {
    border-radius: 10px;
}

.article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a6c2f0;
}

.project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
}

.project-title {
    font-size: 1.5em;
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
}

.flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-type {
    background: #b2b2fd;
    color: #1a41cd;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 12px;
    letter-spacing: -0.6px
}

.project-hover {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 9px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project-hover svg {
    margin-left: 3px;
    margin-top: 5px;
}

.container-project {
    width: 100%;
    height: 170px;
    background-image: url(../assets/images/apple-music-note.jpg);
}

.footer {
    background-image: url(../assets/images/footer-bg.jpg);
    width: 100%;
    height: 400px;
}

.footerContent {
    display: flex;
    gap: 150px;
}

.contactUs {
    color: white;
    margin: 70px 0 0 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pInContactUs {
    font-weight: bold;
    font-size: 25px;
}

.hrInContactUs {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.telephone,
.email,
.telegram1,
.telegram2 {
    display: flex;
    gap: 20px;
}

.telephone i,
.email i,
.telegram i,
.instagram i {
    width: 15px;
    height: 15px;
}

.socialMedia {
    color: white;
    margin: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pInSocialMedia {
    font-weight: bold;
    font-size: 25px;
}

.hrInSocialMedia {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.row1,
.row2 {
    display: flex;
}

.ic {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
}

.ic:hover {
    opacity: 0.7;
}

.ic-facebook {
    background: #3B5998;
    color: white;
}

.ic-twitter {
    background: #55ACEE;
    color: white;
}

.ic-linkedin {
    background: #007bb5;
    color: white;
}

.ic-youtube {
    background: #bb0000;
    color: white;
}

.ic-instagram {
    background: #125688;
    color: white;
}

.ic-pinterest {
    background: #cb2027;
    color: white;
}

.instagramFeed {
    margin-top: 70px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pInInstagramFeed {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.hrInInstagramFeed {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.imgInInstagramFeed {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8px;
}

.pInFooter {
    color: white;
    margin-left: 120px;
    margin-top: 60px;
}

.share a {
    text-decoration: none;
}

.button {
    font-family: inherit;
    left: 1085px;
    bottom: 30px;
    font-weight: 400;
    background: #f2295b;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.6em;
    padding-left: 3em;
    padding-right: 0.7em;
}

.button .icon {
    background: #fff;
    margin-right: 1em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.3em;
    transition: all .7s;
    cursor: pointer;
}

.shere {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 4px;
}

.button:hover .icon {
    width: calc(100% - 0.6rem);
}

.button:hover .shere {
    width: calc(100% - 0.6rem);
    display: none;
}

.button .icon-shere {
    color: #f2295b;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    margin-right: 5px;
}

.button:hover .icon .icon-shere {
    display: flex;
}