* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #132c33;
}

.image {
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.courseDesc {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: 60px 0 80px 0;
    -webkit-box-reflect: below -3px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.description {
    display: flex;
    margin: 0 140px 80px 140px;
    gap: 35px;
}

.description img {
    width: 470px;
    height: 400px;
}

.headInDesc {
    color: white;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.textInDesc span {
    margin-top: 25px;
    color: #FB8500;
    font-size: 16px;
}

.pInDesc {
    margin-top: 10px;
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 17px;
}

.textInDesc button {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #51cdef;
    border: none;
    box-shadow: 1px 1px 5px #3fc9ef;
    cursor: pointer;
}

.textInDesc button {
    background-color: #02c8ff;
}

.status {
    display: flex;
    color: white;
    margin: 80px 140px;
    gap: 120px;
    font-size: 17px;
}

.status p {
    background-color: rgb(30, 26, 26);
    padding: 15px 0;
    width: 350px;
    text-align: center;
    border: none;
    border-left: 1px dotted #ccc;
}

.headInCurContent {
    color: #FFB703;
    margin-left: 140px;
    font-size: 2em;
}

.contentDesc {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    column-gap: 100px;
    width: 80%;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: #219dbc4f;
    box-shadow: 5px 5px 10px #219dbc4f;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.secondSession,
.thirdSession,
.fourthSession,
.sixthSession,
.seventhSession,
.eighthSession,
.tenthSession,
.eleventhSession,
.twelfthSession,
.fourteenthSession,
.fifteenthSession,
.sixteenthSession,
.eighteenthSession {
    color: white;
    margin-top: 20px;
}

.firstSession,
.fifthSession,
.ninthSession,
.thirteenthSession,
.seventeenthSession {
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}

.contentDesc ul li {
    margin-top: 2px;
    margin-left: 35px;
}

.seventeenthSession {
    padding-bottom: 20px;
}

.footer {
    background-image: url(../assets/images/footer-bg.jpg);
    width: 100%;
    height: 400px;
}

.footerContent {
    display: flex;
    gap: 150px;
}

.contactUs {
    color: white;
    margin: 70px 0 0 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pInContactUs {
    font-weight: bold;
    font-size: 25px;
}

.hrInContactUs {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.telephone,
.email,
.telegram1,
.telegram2 {
    display: flex;
    gap: 20px;
}

.telephone i,
.email i,
.telegram i,
.instagram i {
    width: 15px;
    height: 15px;
}

.socialMedia {
    color: white;
    margin: 70px 0 0 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pInSocialMedia {
    font-weight: bold;
    font-size: 25px;
}

.hrInSocialMedia {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.row1,
.row2 {
    display: flex;
}

.ic {
    padding: 9px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
}

.ic:hover {
    opacity: 0.7;
}

.ic-facebook {
    background: #3B5998;
    color: white;
}

.ic-twitter {
    background: #55ACEE;
    color: white;
}

.ic-linkedin {
    background: #007bb5;
    color: white;
}

.ic-youtube {
    background: #bb0000;
    color: white;
}

.ic-instagram {
    background: #125688;
    color: white;
}

.ic-pinterest {
    background: #cb2027;
    color: white;
}

.instagramFeed {
    margin-top: 70px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pInInstagramFeed {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.hrInInstagramFeed {
    border: 2px solid rgb(75, 126, 227);
    width: 80px;
    border-radius: 20px;
}

.imgInInstagramFeed {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 8px;
}

.pInFooter {
    color: white;
    margin-left: 120px;
    margin-top: 60px;
}

.share a {
    text-decoration: none;
}

.button {
    font-family: inherit;
    left: 1085px;
    bottom: 30px;
    font-weight: 400;
    background: #f2295b;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.6em;
    padding-left: 3em;
    padding-right: 0.7em;
}

.button .icon {
    background: #fff;
    margin-right: 1em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.3em;
    transition: all .7s;
    cursor: pointer;
}

.shere {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 4px;
}

.button:hover .icon {
    width: calc(100% - 0.6rem);
}

.button:hover .shere {
    width: calc(100% - 0.6rem);
    display: none;
}

.button .icon-shere {
    color: #f2295b;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
    margin-right: 5px;
}

.button:hover .icon .icon-shere {
    display: flex;
}